$primary-color: #4E007A !default;
$primary-text-color: #EDFFEC !default;
$accent-color: #9792E3 !default;
$accent-text-color: #000100 !default;
$highlight-color: #D90368 !default;
$highlight-text-color: $accent-text-color !default;
$background-color: $primary-text-color !default;
$background-text-color: $accent-text-color !default;
